@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --primary-color: #EEE2DC;
    --red-color: #C3073F;
}

h1 {
    margin-top: 3rem;
}

body {
    background-color: var(--primary-color);
    color: var(--red-color);
    text-align: center;
    font-family: 'Kanit', sans-serif;

}

input,label {
    display: block;
    margin: auto;
}

label {
    font-size: x-large;
    font-weight: 500;
    margin: 1rem;
}

input {
    width: 20%;
    font-size: large;
    border-radius: 5px;
    border: transparent;
    padding: 0.5rem;
}

#message-output {
    font-size: x-large;
    font-weight: 400;
}

#check-number {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--primary-color);
    border-color: var(--red-color);
    color: var(--red-color);
    border-radius: 1rem;
    cursor: pointer;
    font-size: medium;
}



